{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topicsComponent.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{curUser.username}}</h3>
          <p>@{{curUser.username}}</p>
          {% if curUser == request.user %}
          <a href="{% url 'updateUserProfile_name' user.username %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam sequi provident, eveniet debitis perspiciatis tempora doloribus officia et saepe sapiente, illum doloremque voluptatibus quaerat dolor incidunt illo nemo, nisi corporis.
            {{user.description}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Game Rooms Hosted by {{curUser.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/feedComponent.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    <div class="activities">
      <div class="activities__header">
        <h2>Recent Activities</h2>
      </div>
      {% include 'base/activityComponent.html' %}
    </div>
    <!-- Activities End -->
  </div>
</main>

{% endblock content %}