{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
    }
</style>

<h1>Games to Play</h1>
<hr>

<div class="home-container">

    <div>
        {% include 'base/topicsComponent.html' %}
    </div>

    <div>
        <h3>Number of Rooms: {{rooms_count}}</h3>
        <a href="{% url 'create-room_name' %}">Create Room</a>
        <hr>
        <div>
            {% include 'base/feedComponent.html' %}
        </div>

    </div>
        
    <div>
        {% include 'base/activityComponent.html' %}
    </div>

</div>
{% endblock content %}